.logo {
  text-align: center;
}
.logo img {
  max-width: 20%;
}
@media (max-width: 767px) {
  .logo img {
    max-width: 60%;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  background: #fff024;
}
.navbar-light .collapse {
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .navbar-light .collapse {
    margin-top: 0;
  }
}
.navbar-light ul li {
  padding: 0 15px;
}
@media (max-width: 768px) {
  .navbar-light ul li {
    padding-top: 10px;
  }
}
.navbar-light ul li a {
  color: #fff024;
  font-family: "Comic Neue", cursive;
  font-size: 21px;
  text-decoration: none;
  transition: font-size 0.5s;
}
.navbar-light ul li a:hover {
  font-size: 20px;
}
@media (max-width: 768px) {
  .navbar-light ul .hide-classes {
    display: none;
  }
}

.start {
  background-image: url(../images/back-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.title {
  text-align: center;
  margin-top: 75px;
}
.title h1 {
  color: white;
  text-shadow: 0px 1px 2px #000;
  font-size: 36px;
  font-family: "Comic Neue", cursive;
  padding: 0 2px;
}
@media (max-width: 767px) {
  .title h1 {
    font-size: 26px;
  }
}
.title h1 span {
  color: #fff024;
}
.title p {
  color: white;
  font-family: "Comic Neue", cursive;
  padding: 15px;
}
.title p span {
  color: #fff024;
}
.title .join {
  padding: 5px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #fff024;
  font-weight: bold;
}
.title .join a {
  text-decoration: none;
  color: black;
}

.classes {
  background: #000;
}
.classes .intro {
  text-align: center;
}
.classes .intro h2 {
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-size: 40px;
  color: #fff024;
  text-shadow: 2px 3px 4px #000;
  padding: 25px 0;
}
.classes .intro p {
  text-align: center;
  color: #fff;
  font-family: "Comic Neue", cursive;
  text-shadow: 1px 1px 20px #fff024;
  font-size: 25px;
}
.classes .intro p span {
  color: #fff024;
}
.classes .intro ul {
  list-style: none;
  display: inline-flex;
  padding: 10px 0;
}
.classes .intro ul .active {
  border: 2px solid #fff024;
  background: #000;
  color: #fff024;
}
.classes .intro ul li {
  padding: 5px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #fff024;
  font-family: "Comic Neue", cursive;
  font-size: 18px;
  margin: 3px 0;
  cursor: pointer;
}
.classes .intro .hide-gallary {
  display: none;
}
@media (max-width: 767px) {
  .classes .intro section img {
    max-width: 90%;
  }
}
.classes .intro section div {
  padding: 5px;
}

.services {
  text-align: center;
  background: -webkit-radial-gradient(#fff, #000 70%);
  padding-bottom: 34px;
}
.services h2 {
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-size: 40px;
  color: #fff024;
  text-shadow: 2px 3px 4px #000;
  padding: 25px 0;
}
.services p {
  color: white;
  font-family: "Comic Neue", cursive;
  padding: 15px;
  font-size: 17px;
}
.services p span {
  color: #fff024;
}
.services .show-service .card {
  position: relative;
  padding: 0;
}
@media (max-width: 768px) {
  .services .show-service .card {
    margin: 5px;
  }
}
.services .show-service .card:hover .show {
  opacity: 1;
}
.services .show-service .card .overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.services .show-service .card .card-title {
  position: absolute;
  color: white;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 50px;
  /* this for firfox to center element*/
  height: fit-content;
  font-family: "Comic Neue", cursive;
  color: #fff024;
  font-size: 26px;
}
.services .show-service .card .show {
  opacity: 0;
  transition: opacity 0.5s;
}

.slider {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  background: -webkit-linear-gradient(#000, #fff 90%);
  padding: 30px 0;
}
.slider h2 {
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-size: 30px;
  color: #fff024;
  text-shadow: 2px 3px 4px #000;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .slider h2 {
    padding: 5px 0;
  }
}
.slider p {
  color: white;
  font-family: "Comic Neue", cursive;
  padding: 15px;
  font-size: 25px;
}
@media (max-width: 767px) {
  .slider p {
    font-size: 18px;
  }
}
.slider p span {
  color: #fff024;
}

.health {
  text-align: center;
  background: -webkit-linear-gradient(#fff, #000 100%);
  padding: 42px;
}
@media (max-width: 767px) {
  .health {
    padding: 30px;
  }
}
.health h2 {
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-size: 40px;
  color: #fff024;
  text-shadow: 2px 3px 4px #000;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .health h2 {
    padding: 2px 0;
    font-size: 15px;
  }
}
.health p {
  color: white;
  font-family: "Comic Neue", cursive;
  padding: 15px;
  font-size: 25px;
}
@media (max-width: 767px) {
  .health p {
    font-size: 13px;
  }
}
.health p span {
  color: #fff024;
}

.footer {
  background: #000;
  text-align: center;
}
.footer .social-media img {
  max-width: 20%;
}
@media (max-width: 767px) {
  .footer .social-media img {
    max-width: 60%;
  }
}
.footer .social-media .media {
  justify-content: center;
}
.footer .social-media .media ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
}
.footer .social-media .media ul li {
  margin: 0 10px;
  font-size: 25px;
  transition: all 0.3s;
}
.footer .social-media .media ul li:hover {
  font-size: 20px;
}
.footer .social-media .media ul li .facebook {
  color: #3b5999;
  cursor: pointer;
}
.footer .social-media .media ul li .instagram {
  color: #e4405f;
  cursor: pointer;
}
.footer .social-media .media ul li .twitter {
  color: #55acee;
  cursor: pointer;
}
.footer .social-media .media ul li .youtube {
  color: #cd201f;
  cursor: pointer;
}

footer {
  color: white;
  font-family: "Comic Neue", cursive;
  padding: 15px;
  font-size: 25px;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}
footer span {
  color: #fff024;
}

.scrollup {
  display: none;
  position: fixed;
  color: #fff024;
  right: 25px;
  bottom: 25px;
  border: 3px solid #fff024;
  border-radius: 50px;
  padding: 7px;
  font-size: 25px;
}
.scrollup:hover .fas {
  color: red;
  transition: color 0.5s;
}

/*# sourceMappingURL=home.css.map */
